﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="LoginForm.aspx.cs" Inherits="LoginForm" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:TextBox ID="txtUser" runat="server"></asp:TextBox>
        <br />
        <asp:TextBox ID="txtPass" runat="server" TextMode="Password"></asp:TextBox>
    
    </div>
    <p>
        <asp:Button ID="btnLogin" runat="server" onclick="btnLogin_Click" 
            Text="Button" />
        </p>
    <p>
        <asp:Label ID="lblSendError" runat="server"></asp:Label>
        </p>
    </form>
</body>
</html>
