﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="NewUser.aspx.cs" Inherits="NewUser" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
<script> 
function Toggleshowhide(id)
    { 
    if (document.getElementById)
        { 
        obj = document.getElementById(id); 
        if (obj.style.display == "none")
            { show(obj) } 
        else 
            { hide(obj) }
         } 
    } 
    function show(obj)
    { 
        obj.style.display = ""; 
    } 
    function hide(obj)
    { 
        obj.style.display = "none"; 
    } 
</script>
    
    <div>
    
        <asp:TextBox ID="txtFirstName" runat="server"></asp:TextBox>
        <br />
        <asp:TextBox ID="txtLastName" runat="server"></asp:TextBox>
        <br />
        <asp:DropDownList ID="ddRole" runat="server" Height="26px" Width="126px">
        </asp:DropDownList>
        <br />
        <asp:TextBox ID="txtUserName" runat="server"></asp:TextBox>
        <br />

                <asp:TextBox ID="txtPassword" runat="server"></asp:TextBox>
        <br />
        <asp:TextBox ID="txtPassRPT" runat="server"></asp:TextBox>
        <br />


        <asp:Button ID="btnOk" runat="server" onclick="btnOk_Click" Text="Save" />
    
    </div>
    </form>
</body>
</html>
